<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Keep_Notes_3._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Keep_Notes_3._0.My.MySettings>
            <setting name="Note1" serializeAs="String">
                <value />
            </setting>
            <setting name="Note2" serializeAs="String">
                <value />
            </setting>
            <setting name="Note3" serializeAs="String">
                <value />
            </setting>
            <setting name="Note4" serializeAs="String">
                <value />
            </setting>
            <setting name="Note5" serializeAs="String">
                <value />
            </setting>
            <setting name="Note6" serializeAs="String">
                <value />
            </setting>
            <setting name="Note7" serializeAs="String">
                <value />
            </setting>
            <setting name="Note8" serializeAs="String">
                <value />
            </setting>
            <setting name="Note9" serializeAs="String">
                <value />
            </setting>
            <setting name="Note1_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note2_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note3_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note4_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note5_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note7_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note8_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note9_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note6_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Note1Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note2Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note3Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note4Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note5Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note6Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note7Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note8Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="Note9Pic" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Note1Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note2Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note3Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note4Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note5Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note6Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note7Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note8Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Note9Color" serializeAs="String">
                <value />
            </setting>
        </Keep_Notes_3._0.My.MySettings>
    </userSettings>
</configuration>